@import "variables.less";
@import "mixin.less";
@import "forkme.less";


html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #222;
}

body {
    /*padding-top: 40px;*/
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}

a {
    color: @baseGreen;
    &:hover {
        color: @baseGray;
        text-decoration:none;
    }
    .transition(color, 0.3s, ease);
}

.page-header {
    padding-bottom: 0;
    margin: 20px;
    border-bottom: none;

    .brand-container {

        .brand {
            display: block;
            float: left;
            font-family: 'DroidSansRegular';
            img {
                float: left;
            }

            a {
                &:hover {
                    color: @baseGreen;
                }
                color: @baseGray;
            }

            h1 {
                float: left;
                padding-top: 8px;
                padding-left: 20px;
                font-size: 24px;
                font-weight: normal;
                line-height: .8;
                span {
                    font-size: 14px;
                    font-weight: normal;
                }
            }
        }

        nav {
            padding-top: 35px;
            margin-bottom: auto;
            font-family: 'DroidSansRegular';
            font-size: 18px;
            font-weight: normal;
            ul {
                list-style-type: none;
                li {
                    display: inline;
                    margin: 20px;
                    a {
                        &:hover {
                            color: @baseGreen;
                        }
                        color: @baseGray;
                    }
                    &:last-child {
                        margin: 20px 0 20px 20px;
                    }
                }
                .active {
                    a {
                        color: @baseGreen;
                    }
                }
            }
        }

    }
}

.logo-holder {
    position: relative;
    height: 115px;
    overflow:hidden;

    .logo {
        position: absolute;
        top: 20%;
        display: table-cell;
        vertical-align: middle;
    }

}

article {
    position: relative;
    padding-bottom: 30px;
    margin-bottom: 50px;
}

.note {
    background-color: #e8e8e8;

    .note-header {
        h1 {
            padding: 10px 50px 0 50px;
            font-family: 'DroidSansRegular';
            font-size: 30px;
            font-weight: normal;

            a {
                &:hover {
                    color: @baseGreen;
                }
                color: @baseGray;
            }
        }
    }

    .no-image {
        h1 {
            padding-top: 80px;
        }
    }

    .note-ribbon {
        position: absolute;
        top: 25px;
        left: -10px;
        z-index: 10;
        display: inline-block;
        padding: 8px 15px;
        background-color: @baseGreen;

        a {
            margin: 5px;
            font-family: 'DroidSansRegular';
            font-size: 18px;
            &:hover {
                color: @baseGray;
            }
            color: #fff;
        }
        &:after {
            position: absolute;
            bottom: -8px;
            left: 0;
            border-top: 0 solid transparent;
            border-right: 10px solid #5b9424;
            border-bottom: 8px solid transparent;
            content: '';
        }
    }

    .note-content {
        padding-top: 10px;
        padding-right: 50px;
        padding-left:50px;

        button {
            margin: 20px 0;
        }
    }

    .note-footer {
        padding: 10px 50px 20px 50px;
        padding-top: 10px;
        padding-right: 50px;
        padding-bottom: 20px;
        padding-left: 50px;
    }
}

.page-footer {
    height: 90px;
    font-size: 12px;
    color: #e8e8e8;
    background: url(../img/footer-bg.png) repeat-x 0 0;

    .copyright {
        padding-top: 25px;
        padding-bottom: 10px;
        line-height: 12px;

        a {
            &:hover {
                color: @baseGray;
            }
            color: #efefef;
        }
    }
}

.push, .wrap {
    height: 90px;
}

.wrap {
    height: auto !important;
    height: 100%;
    min-height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -90px;
}
