<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Ashier de Leon | Thoughts and notes from a Frontend Developer{% endblock title %}</title>
    <!--[if IE]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/font.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-responsive.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/djangoblog.css">
    {% block head %}{% endblock head %}
</head>
<body>
    <header>
        {% block header %}{% endblock header %}
    </header>
    <div class="container">
        {% block content %}{% endblock content %}
    </div>
    {% block footer %}{% endblock footer %}
    {% block base_script %}{% endblock base_script %}
    {% block page_script %}{% endblock page_script %}
</body>
</html>
