{% extends  "common/base.html" %}
{% block header %}
<div class="container">
    <div class="brand">
        <a href="/">
            <img src="{{ STATIC_URL }}img/logo-ashier-light.png" >
            <h1>
                Ashier de Leon
                <br /><span>Thoughts and notes from a Frontend Developer</span>
            </h1>
        </a>
    </div>
    <nav class="pull-right">
        <ul>
            {% block main_nav %}{% endblock main_nav %}
        </ul>
    </nav>
</div>
{% endblock header %}
{% block base_script %}
<script src="{{ STATIC_URL }}js/libs/jquery.min.js" async defer></script>
<script src="{{ STATIC_URL }}js/libs/handlebars.js" async defer></script>
<script src="{{ STATIC_URL }}js/libs/bootstrap.min.js" async defer></script>
<script src="{{ STATIC_URL }}js/main.js" async defer></script>

<!-- Base Template Scripts -->
<script id="navigation-templete" type="text/x-handlebars-template">
    <li><a href="{{url}}">{{name}}}</a></li>
</script>
{% endblock base_script %}
